<h1>Listing lounges</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lounges.each do |lounge| %>
      <tr>
        <td><%= link_to 'Show', lounge %></td>
        <td><%= link_to 'Edit', edit_lounge_path(lounge) %></td>
        <td><%= link_to 'Destroy', lounge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lounge', new_lounge_path %>
