<p id="notice"><%= notice %></p>

<div class="container">
	<h1 align="center">This is the Mansion Lounge</h1>

		<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Mansion Lounge</div>
	  <div class="panel-body">

	    <p>Welcome to the Mansion Lounge</p>
	    <p>This mansion's compatibility percentage is % <%= overall_pledge_compatibility_percentage(@users) %></p>

	    <div class="panel-body">
        <%= commontator_thread(@commontable) %>
	    </div>
	  </div>
	</div>
</div>
