<div id="bg" class="shift-with-hiw" style="display:block;">
  <ul class="list-unstyled" id="slideshow">
    <li class="active">
      <!-- <img alt="background" src="http://www.extravaganzi.com/wp-content/uploads/2012/12/Paradise-Valley-Mansion-6.jpg" width="100%" /> -->

<!-- <video autoplay loop poster="video.jpg" id="bgvid"  muted>
			<source src="http://0.s3.envato.com/h264-video-previews/80fad324-9db4-11e3-bf3d-0050569255a8/490527.mp4" type="video/mp4">
	
	</video> -->


<video autoplay loop poster="video.jpg" id="bgvid"  muted>
			<source src="	
https://s3.amazonaws.com/Mansions/cropped_video.m4v" type="video/mp4">
	
	</video>
	

    </li>  
  </ul> 
</div>