<div id="bg" class="shift-with-hiw" style="display:block;">
  <ul class="list-unstyled" id="slideshow">
    <li class="active">
      <img alt="background" src="http://www.extravaganzi.com/wp-content/uploads/2012/12/Paradise-Valley-Mansion-6.jpg" width="100%" />
    </li>  
  </ul> 
</div>