<div id="bg" class="shift-with-hiw" style="display:block;">
  <ul class="list-unstyled" id="slideshow">
    <li class="active">
      <!-- <img alt="background" src="http://www.extravaganzi.com/wp-content/uploads/2012/12/Paradise-Valley-Mansion-6.jpg" width="100%" />
 -->
 <!--   <video autoplay id="bgvid"  >
  	 <source src="/videos/mansions.mp4" type="video/mp4">
	
	</video>
 -->
<%#= video_tag(["/videos/mansions.mp4"], :size => "320x240", :controls => true) %>




<%#= video_tag "mansions.mp4", :autoplay=> true, :size => "320x240", :controls => true %>




    </li>  
  </ul> 
</div>