 <div id="footer" class="container-brand-dark footer-surround footer-container">
     <div class="footer-content-container container page-container page-container-responsive">
<!-- <div class="row row-condensed">
  <div class="span3 col-3">
    <div class="row row-condensed">
      <div class="span9 col-9">
        <div class="language-curr-picker clearfix">
          <div class="language-picker"></div>
            <div class="currency-picker"></div>
        </div>
      </div>
    </div>
  </div> -->

<div id="centered_links">
  <div class="col-offset-1 col-2 ">
    <h5>MansionExpress</h5>
    <ul class="unstyled list-layout">
      <li><a href="/" class="link-contrast" >About</a></li>
      <li><a href="/" class="link-contrast">Press</a></li>
      <li><a href="/" class="link-contrast">Help</a></li>
    </ul>
  </div>

  <div class="col-offset-2  col-2  ">
    <h5>Discover</h5>
    <ul class="unstyled list-layout">
      <li><a href="/" class="link-contrast">Invite Friends</a></li>
      <li><a href="/" class="link-contrast">MansionExpress Picks</a></li>
    </ul>
  </div>

  <div class="col-offset-2  col-3 ">
    <h5>Hosting</h5>
    <ul class="unstyled list-layout">
      <li><a href="/" class="link-contrast">Why Host</a></li>
      <li><a href="/" class="link-contrast">Policies</a></li>
      <li><a href="/" class="link-contrast">Stories</a></li>
    </ul>
  </div>
</div>
</div>


<hr class="footer-divider row-space-top-8 row-space-4 ">