<div class="search-area text-center">
  <div class="page-container page-container-responsive row-full-height">
    <div class="intro-area row row-table row-full-height">
      <div class="col-12 col-middle">
       <div id="experience"><h1 id='tagline' class='uppercase text-jumbo text-contrast row-space-1'>Experience a Mansion <br>With People Like You</h1></div>
      <!--  <div id='h1-background'><p class='dont-show'></p></div> -->
        <a href="index.html" class="btn btn-contrast btn-large how-it-works">How It Works</a>
      </div>
    </div>

    <div class="bottom-search-area">
      <div class="col-12">
        <form action="/mansions" method="get" id="search_form">
          <div class="location-wrapper"><input type="text" class="form-inline location input-large input-contrast" autocomplete="off" id="location" name="location" placeholder="where you wanna go?" />  <p id="enter_location_error_message" class="bad hide">
          </div>

          <input type="text" id="checkin" class="form-inline checkin search-option input-large input-contrast datepicker" name="checkin" placeholder="Check In" />

          <input type="text" id="checkout" class="form-inline checkout search-option input-large input-contrast datepicker" name="checkout" placeholder="Check Out" />

          <div class="select select-large">
 
          </div><input type="hidden" name="source" value="bb">

          <button type="submit" class="form-inline search-button btn btn-primary btn-large"  id="submit_location"> Search </button>
        </form>

  <% if flash[:no_location]%>
    <div id="no_location"><%= flash[:no_location] %></div>
 <%end%>
      </div>
    </div>
  </div>
</div>


