<div class="social-media text-center">
  <h5 class="row-space-4 ">Join Us On</h5>
    <ul class="unstyled list-layout list-inline">
        <li>
          <a href="/" class="link-contrast footer-icon-container" target="_blank">
            <i class='fa fa-facebook'></i></a></li>
        <li>
          <a href="/" class="link-contrast footer-icon-container" target="_blank">
            <i class='fa fa-google'></i></a></li>
        <li>
          <a href="/" class="link-contrast footer-icon-container" target="_blank">
            <i class=' fa fa-twitter'></i></a></li>
    </ul>
    <div id="copyright" class="row-space-top-2 text-muted">
      &copy; MansionExpress

    </div>
  </div>
</div>