<!DOCTYPE html>
  <head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script> 
    <script>
      $(function() {
        $( ".datepicker" ).datepicker();
      });
    </script> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
  </head>

  <body class="p1">
    <%= render :partial => "background" %>

    <%= render :partial => "jumbotron" %>

    <%= render :partial => "footer" %>

    <%= render :partial => "social_media_tags" %>
  </body>
</html>
