<div class="container">
	<h1 align="center"> Mansion Express Team </h1>

        <p align="center">Our team created MansionExpress as a final project for the Dev Bootcamp software engineering program. </br>We wanted to make it possible for people to fulfill their dreams of living in mansions at an </br>affordable price while meeting people from around the world.</p>

<div class="row">

	<div class=" col-offset-2 col-md-4">
    <div class="thumbnail">
      <img class="teamphoto" src="https://s3.amazonaws.com/Mansions/marko_kovacevic-dbc_headshots-2014-07-01-square-12.jpg" alt="...">
      <div class="caption">
        <h3>Dylan Richards</h3>
       
        <p> <a href="https://github.com/dylanerichards" class="github-btn btn btn-default" role="button">Github</a></p>
       
       
      </div>
     </div>
   </div>



  
 <div class=" col-md-4">
    <div class="thumbnail">
      <img class="teamphoto" src="https://s3.amazonaws.com/Mansions/antonio.jpg" alt="...">
      <div class="caption">
        <h3>Antonio Perez</h3>
       
        <p> <a href="https://github.com/rantoniops" class="github-btn btn btn-default" role="button">Github</a></p>
       
       
      </div>
     </div>
   </div>
</div>

<div class="row">
 <div class=" col-offset-2 col-md-4">
    <div class="thumbnail">
      <img class="teamphoto" src="https://s3.amazonaws.com/Mansions/derek.jpg" alt="...">
      <div class="caption">
        <h3>Derek Siker</h3>
       
        <p> <a href="https://github.com/dsiker" class="github-btn btn btn-default" role="button">Github</a></p>
       
      </div>
     </div>
   </div>



<div class="row">

 <div class=" col-md-4">
    <div class="thumbnail">
      <img class="teamphoto" src="https://s3.amazonaws.com/Mansions/marko_kovacevic-dbc_headshots-2014-07-01-square-2.jpg" alt="...">
      <div class="caption">
        <h3>Hilary Barr</h3>
        <p> <a href="https://github.com/hilarybarr" class="github-btn btn btn-default" role="button">Github</a></p>
       </div>
       
      </div>
     </div>
   </div>


</div>