<div class="topsection" >
  <div class="row" id="toprow">
    <div class="offset-md-1 col-md-3" id="tip">
      tip: the more people the cheaper the $
    </div>

    <div class="col-md-2">
      <div class="dropdown">
        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
          Bedrooms <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="1">1</ul>
        <ul class="dropdown-menu" role="menu" aria-labelledby="2">2</ul>
      </div>
    </div>
  </div>
</div>

 <p id="countrycount"><%=@mansions.count%> rentals in <%=@mansions.first.country%> <p>