<div class="topsection" >
  <div class="row" id="toprow">
    <div class="offset-md-1 col-md-3" id="tip">
      tip: the more people the cheaper the $
    </div>

   
  </div>
</div>

 <p id="countrycount"><%=@mansions.count%> rentals in <%=@location%> <p>