<div>
  <div id="gravatar">
    <% (rand(1..5)).times do %>
       <%= image_tag( "#{rand(1..23)}.jpg", size: "60x60")%>
   	<% end%>
  </div>

	<h1>Fill this personality form so we can match you up with people like you. Remember you can also apply to multiple mansions at the same time.</h1></br>
	<h2>Select from the following:</h2>

	<form action="bookings/show" method="post">
		<select>
			<option value="" disable selected>Profession</option>
			<option value="advertising">Advertising</option>
			<option value="accounting">Accounting</option>
			<option value="airline">Airline</option>
			<option value="banking">Banking</option>
			<option value="education">Education</option>
			<option value="energy">Energy</option>
			<option value="finance">Finance</option>	
			<option value="fashion">Fashion</option>
			<option value="healthcare">Healthcare</option>
			<option value="legal">Legal</option>
			<option value="motion picture video">Motion Picture Video</option>
			<option value="music">Music</option>
			<option value="publishing journalism">Publishing Journalism</option>	
			<option value="real estate">Real Estate</option>
			<option value="software">Software</option>
			<option value="sports">Sports</option>
			<option value="other">Other</option>								
		</select>

		<select>
			<option value="" disable selected>Religion</option>
			<option value="none">None</option>
			<option value="catholic">Catholic</option>
			<option value="protestant">Protestant</option>
			<option value="jewish">Jewish</option>
			<option value="muslim">Muslim</option>
			<option value="orthodox">Orthodox</option>
			<option value="buddhist">Buddhist</option>	
			<option value="hindu">Hindu</option>
			<option value="other">Other</option>							
		</select>

		<select>
			<option value="" disable selected>Sexual Orientation</option>
			<option value="straight">Straight</option>
			<option value="homosexual">Homosexual</option>
			<option value="bisexual">Bisexual</option>
			<option value="other">Other</option>					
		</select>

		<select>
			<option value="" disable selected>Relationship Status</option>
			<option value="single">Single</option>
			<option value="married">Married</option>
			<option value="in an open relationship">In an open relationship</option>
			<option value="divorced">Divorced</option>				
			<option value="widowed">Widowed</option>	
			<option value="it's complicated">It's complicated</option>								
		</select>	

		<select>
			<option value="" disable selected>Smoker?</option>
			<option value="yes">Yes</option>
			<option value="no">No</option>
			<option value="socially">Socially</option>							
		</select>		

<h2>Select all that apply to you:</h2>
		<input type="checkbox" name="random traits" value="student">student<br>
		<input type="checkbox" name="random traits" value="entrepreneur">entrepreneur<br>	
		<input type="checkbox" name="random traits" value="vegetarian">vegetarian<br>
		<input type="checkbox" name="random traits" value="total carnivore">total carnivore<br>
		<input type="checkbox" name="random traits" value="early bird">early bird<br>
		<input type="checkbox" name="random traits" value="night owl">night owl<br>
		<input type="checkbox" name="random traits" value="dog lover">dog lover<br>
		<input type="checkbox" name="random traits" value="cat lover">cat lover<br>
		<input type="checkbox" name="random traits" value="democrat">democrat<br>
		<input type="checkbox" name="random traits" value="republican">republican<br>	
		<input type="checkbox" name="random traits" value="bookworm">bookworm<br>
		<input type="checkbox" name="random traits" value="social butterfly">social butterfly<br>		

<h2>Music Styles:</h2>
		<input type="checkbox" name="music styles" value="rock">rock<br>
		<input type="checkbox" name="music styles" value="electronic">electronic<br>	
		<input type="checkbox" name="music styles" value="rap">rap<br>
		<input type="checkbox" name="music styles" value="hip hop">hip hop<br>
		<input type="checkbox" name="music styles" value="latin">latin<br>
		<input type="checkbox" name="music styles" value="jazz">jazz<br>
		<input type="checkbox" name="music styles" value="classical">classical<br>
		<input type="checkbox" name="music styles" value="reggae">reggae<br>
		<input type="checkbox" name="music styles" value="country">country<br>
		<input type="checkbox" name="music styles" value="pop">pop<br>	
		<input type="checkbox" name="music styles" value="indie">indie<br>
	</form>

	<div>
		<h2>Create an Account</h2>
			<input type="text" placeholder="Name"><br>
			<input type="text" placeholder="Email"><br>		
			<input type="text" placeholder="Password"><br>				
			<input type="text" placeholder="Password Confirmation"><br>			
	</div>

	<div>
		<h2>Invite friends to join you in this mansion</h2>
			<input type="text" placeholder="His/Her Email"><br>	
			<!-- ADD AJAX REQUEST HERE THAT APPENDS MORE FRIENDS' EMAIL FIELDS -->
	</div>	

		<a href="#"><input type="checkbox" name="terms and conditions" value="yes">I agree to the terms and conditions</a>
		<input type="submit" value="Submit!">
	</form>
</div>