<h1>mansions index</h1>
  <div class="col-md-4">
    <div id="map">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-8">
    <% @mansions.each do |mansion| %>
      <%= link_to (image_tag(mansion.photo.url(:medium))), mansion, class: 'mansionPhoto' %>
      <span class="mansionPrice"><%= mansion.price %></span>
    <% end %>
  </div> 