<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Mansion Lounge</div>
  <div class="panel-body">
    <p>Welcome to the Mansion Lounge</p>
  </div>
</div>