


<div class="row mansionDescription center-block">	
	<%= image_tag(@mansion.photo.url(:medium), class: 'mansionShow') %>
	
	<h1><%= @mansion.name %></h1>
	<strong>description: </strong><%= @mansion.description %>
</div>

