<div class="mansionDescription center-block">	
	<%= image_tag(@mansion.photo.url(:medium), class: 'mansionShow') %>

	<%= link_to 'Apply', '#', class: 'btn btn-success pull-right' %>

	<h1><%= @mansion.name %></h1>
	<div class='mansionDescription'><strong>description: </strong><%= @mansion.description %></div>

	<div class="mansionShowMap"></div>
</div>
