// Place all the styles related to the Mansions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


require bootstrap

/* The following is primarily on the mansion show page */

#mansion_show_img{
	text-align: center;
	position: absolute;

}



#mansion_show_img h1, h3{
	text-align:center;
}

#mansion_show_img img{
   display: block;
	 margin-left: auto;
   margin-right: auto;
   width: 800px;
   height: 500px;
   border: 5px solid black;
}

#joinbutton {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	margin-top: 20px;
}

a .btn-lg  {
	height: 500px;

}

#userimgs {
	position: relative;
	top: -125px;
	display: inline-block;
  margin-left: 26%;
}


#userimgs img{
	width: 120px;
	height: 120px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#mansions_container {
	position: relative;
	top: 0px;
	background-color: #DDDDDD;
}

.clear {
	clear: both;
}

#mansiondisplay{
	display: inline-block;
	text-align: center;

}

#mansion_description{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	width: 75%;
	height: 75%;
	display: block;
	margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  position: relative;
	bottom: 65px;
}

#description{
	text-align: center;
	padding: 20px;
}


#pricings{
	height: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	color: black;
}

.smallimage{
	height: 50px;
	width: 50px;
}


/* The following is primarily on the mansion index */
.topsection {
	position: relative;
	top: -20px;
	background-color: #f5f5f5;
	color: black;
}

#toprow{
	position: relative;
	top: -3px;
}


.applyButton {
	position: relative;
	left: 700px;
 }

 #tip {
 	position:relative;
 	left: 40px;
 }

#price {
	position: relative;
	bottom: 130px;
}

#price p{
	background-color: #B8C1D1;
	color: white;
	font-size: 20px;
}


#gravatar {
	width: 350px;
	height: 70px;
}

#gravatar img {
	border-radius: 10px; 
	position: relative;
	bottom: 135px;      
}

#countrycount {
	text-align: right;
	margin-right: 67px;
}

#allmansions {
	width: 920px;
	position: relative;
	left: 50px;

	float: right;
}

#mansion {
	margin-right, margin-left: 20px;
	margin-top, margin-bottom: 0px;
	width: 280px;
	height: 300px;
}




/* MANSION LOUNGE */
.panel {
  width:35em;
  margin: auto;
}

.panel-default{
  
    opacity: 0.8;
}

.btn {
  opacity: 1;
}

