// Place all the styles related to the Mansions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


require bootstrap

#joinbutton {
	position:relative;
	bottom: 100px;
}

#userimgs {
	position: relative;
	left: 20px;
}

#userimgs img{
	width: 100px;
	height: 100px;
}

.ui-slider-range {
	color: white;
}

.topsection {
	position: relative;
	top: -20px;
	background-color: black;
	color: white;
}

#toprow{
	position: relative;
	top: -5px;
}

.ui-slider-range {

    width: 100px;
}

.applyButton {
	position: relative;
	left: 700px;
 }

 #tip {
 	position:relative;
 	left: 40px;
 }

#mansiondisplay{
	display: inline-block;
	text-align: center;

}

#price {
	position: relative;
	bottom: 130px;
}

#price p{
	background-color: black;
	color: white;
	font-size: 20px;
}


#paginator {
	position: relative;
	left: 150px;
	background-color: white;
}

#gravatar {
	width: 350px;
	height: 70px;
}

#gravatar img {
	border-radius: 10px; 
	position: relative;
	bottom: 135px;      
}

#left1{
	float:left;
	width: 48%;
	text-align: center;
	margin: 20px;
	background-color: #B8C1D1;
}

#right1{
	float:right;
	width: 40%;
	margin: 20px;
	background-color: #B8C1D1;
}

#clear {
	clear: both;
}

#pledgepoints {
	text-align: center;
}

#price2{
	position:relative;
	bottom: 100px;
	font-size: 25px;
	background-color: black;
	color: white;
	width: 400px;
}

#pricings{
	position:relative;
	bottom: 99px;
	font-size: 13px;
	background-color: black;
	color: white;
	width: 80%;
}

#description{
	text-align: center;
	padding: 20px;
}

#countrycount {
	text-align: right;
	margin-right: 67px;
}

#allmansions {
	width: 920px;
	position: relative;
	left: 50px;

	float: right;
}

#mansion {
	margin-right, margin-left: 20px;
	margin-top, margin-bottom: 0px;
	width: 280px;
	height: 300px;
}
