#mapindex {
	z-index: 1;
	width: 400px;
	height: 900px;
/*	position: fixed;*/
	top: 0px;
/*	display: fixed;*/
}

#mapshow {
	width: 100%;
	height: 300px;
	/*position: fixed;*/
	/*display: fixed;*/
}

/*.mansionShowMap {
	width: 100%;
	background-color: black;
	height: 300px;
	position: relative;
	top: 0px;
}*/