#mapindex {
	z-index: 1;
	width: 600px;
	height: 900px;
/*	position: fixed;*/
	top: 0px;
/*	display: fixed;*/
}

#mapshow {
	float: left;
	z-index: 1;
	width: 300px;
	height: 900px;
	/*position: fixed;*/
	top: 60px;
	/*display: fixed;*/
}

/*.mansionShowMap {
	width: 200px;
	background-color: black;
	height: 200px;
	position: relative;
	top: 200px;
}*/